# Airflow
airflow.cfg
airflow-webserver.pid
*.pid

# Kafka
src/kafka-logs/
srczookeeper-data/
src/logs

# ClickHouse
src/clickhouse/data/
src/clickhouse/logs/

# Python
venv/
*.egg-info/
dist/
src/dags/__pycache__/

# Environment files
.env
*.secret